<form method="post" action="{{ path('package_delete', {'id': package.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ package.id) }}">
    <button class="btn btn-primary">Delete</button>
</form>
{#style="display:flex; justify-content: center;"#}


{#display: inline-block;#}
{#font-weight: 400;#}
{#color: #212529;#}
{#text-align: center;#}
{#vertical-align: middle;#}
{#-webkit-user-select: none;#}
{#-moz-user-select: none;#}
{#-ms-user-select: none;#}
{#user-select: none;#}
{#background-color: transparent;#}
{#border: 1px solid transparent;#}
{#padding: .375rem .75rem;#}
{#font-size: 1rem;#}
{#line-height: 1.5;#}
{#border-radius: .25rem;#}