
{{ form_start(form) }}
    {#{{ form_widget(form) }}#}
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
            {{ form_label(form.weight) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
            {{ form_errors(form.weight) }}
            {{ form_widget(form.weight) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
            {{ form_label(form.width) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
            {{ form_errors(form.width) }}
            {{ form_widget(form.width) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
            {{ form_label(form.height) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
            {{ form_errors(form.height) }}
            {{ form_widget(form.height) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
            {{ form_label(form.length) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
            {{ form_errors(form.length) }}
            {{ form_widget(form.length) }}
            </div>
        </div>
    </div>
</div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
