{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <h1>Edit Package</h1>
    {#<div class="d-flex justify-content-center">#}

        {{ include('package/_form.html.twig', {'button_label': 'Update'}) }}

    {#</div>#}

    <a href="{{ path('package_index') }}">back to list</a>
    {{ include('package/_delete_form.html.twig') }}
</div>

{% endblock %}
