{% extends 'base.html.twig' %}

{% block body %}

        <h1>Package index</h1>
    <table class="table">
        <thead class="thead-dark" >
            <tr>
                <th>Id</th>
                <th>Weight</th>
                <th>Width</th>
                <th>Height</th>
                <th>Length</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.id }}</td>
                <td>{{ package.weight }}</td>
                <td>{{ package.width }}</td>
                <td>{{ package.height }}</td>
                <td>{{ package.length }}</td>
                <td>
                    <a href="{{ path('package_show', {'id': package.id}) }}">show</a>
                    <a href="{{ path('package_edit', {'id': package.id}) }}">edit</a>
                </td>
            </tr>


        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a style="display:flex; justify-content: center;"; href="{{ path('package_new') }}">Create new</a>



    {#<button class="btn btn-primary">Delete</button>#}
{% endblock %}




{#<table class="table">#}
    {#<thead class="thead-dark">#}
    {#<tr>#}
        {#<th scope="col">#</th>#}
        {#<th scope="col">First</th>#}
        {#<th scope="col">Last</th>#}
        {#<th scope="col">Handle</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#<tr>#}
        {#<th scope="row">1</th>#}
        {#<td>Mark</td>#}
        {#<td>Otto</td>#}
        {#<td>@mdo</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th scope="row">2</th>#}
        {#<td>Jacob</td>#}
        {#<td>Thornton</td>#}
        {#<td>@fat</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th scope="row">3</th>#}
        {#<td>Larry</td>#}
        {#<td>the Bird</td>#}
        {#<td>@twitter</td>#}
    {#</tr>#}
    {#</tbody>#}
{#</table>#}

{#<table class="table">#}
    {#<thead class="thead-light">#}
    {#<tr>#}
        {#<th scope="col">#</th>#}
        {#<th scope="col">First</th>#}
        {#<th scope="col">Last</th>#}
        {#<th scope="col">Handle</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#<tr>#}
        {#<th scope="row">1</th>#}
        {#<td>Mark</td>#}
        {#<td>Otto</td>#}
        {#<td>@mdo</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th scope="row">2</th>#}
        {#<td>Jacob</td>#}
        {#<td>Thornton</td>#}
        {#<td>@fat</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th scope="row">3</th>#}
        {#<td>Larry</td>#}
        {#<td>the Bird</td>#}
        {#<td>@twitter</td>#}
    {#</tr>#}
    {#</tbody>#}
{#</table>#}
