{% extends 'base.html.twig' %}

{% block body %}

    <h1>Create new Package</h1>


    {{ include('package/_form.html.twig') }}



    <a href="{{ path('package_index') }}">back to list</a>
{% endblock %}
