{% extends 'base.html.twig' %}

{% block body %}
    <title>Package</title>

    <h1 style="display:flex; justify-content:center">Package</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Weight</th>
                <th>Width</th>
                <th>Height</th>
                <th>Length</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ package.id }}</td>
                <td>{{ package.weight }}</td>
                <td>{{ package.width }}</td>
                <td>{{ package.height }}</td>
                <td>{{ package.length }}</td>
                <td>
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('package_index') }}">back to list</a>
                        <a href="{{ path('package_edit', {'id': package.id}) }}">edit</a>
                        {{ include('package/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {#{{ include('package/_delete_form.html.twig') }}#}

{% endblock %}
