{{ form_start(form) }}
   {#{{ form_widget(form) }}#}
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.name) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.surname) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.surname) }}
                {{ form_widget(form.surname) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.city) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.city) }}
                {{ form_widget(form.city) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.street) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.street) }}
                {{ form_widget(form.street) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.houseNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.houseNumber) }}
                {{ form_widget(form.houseNumber) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.apartmentNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.apartmentNumber) }}
                {{ form_widget(form.apartmentNumber) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.phoneNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.email) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>
    </div>
</div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

