{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .bg-secondary{
            border-radius: 10px;
            width: 550px;
            height:550px;
        }
    </style>
<div class="d-flex justify-content-center">
        <div class="bg-secondary">
                <h1 class="display-4 d-flex justify-content-center" style="padding-top: 30px">Edit recipient details</h1>
                <div class="d-flex justify-content-center" style ="padding-top: 30px">
                {{ include('recipient_details/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                 <div class="d-flex justify-content-center" style ="padding-top: 10px">
                        <a href="{{ path('recipient_details_index') }}">back to list</a>
                        {{ include('recipient_details/_delete_form.html.twig') }}
                </div>
        </div>
</div>
{% endblock %}


