{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="display-4">Recipient details</h1>
    </div>
    <table class="table table-striped table-hover table-sm table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>City</th>
                <th>Street</th>
                <th>HouseNumber</th>
                <th>ApartmentNumber</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ recipientDetails.id }}</td>
                <td>{{ recipientDetails.name }}</td>
                <td>{{ recipientDetails.surname }}</td>
                <td>{{ recipientDetails.city }}</td>
                <td>{{ recipientDetails.street }}</td>
                <td>{{ recipientDetails.houseNumber }}</td>
                <td>{{ recipientDetails.apartmentNumber }}</td>
                <td>{{ recipientDetails.phoneNumber }}</td>
                <td>{{ recipientDetails.email }}</td>
                <td>
                    <div class="d-flex justify-content-between">
                    <a href="{{ path('recipient_details_index') }}">back to list</a>
                    <a href="{{ path('recipient_details_edit', {'id': recipientDetails.id}) }}">edit</a>
                    {{ include('recipient_details/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
