<!DOCTYPE html>

<title>Edit sender details</title>

{% block body %}
    <h1>Edit recipient details</h1>

    {{ include('sender_details/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sender_details_index') }}">back to list</a>

    {{ include('sender_details/_delete_form.html.twig') }}
{% endblock %}
