<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>Sender details</title>

{% block body %}

    <h1 style="display:flex; justify-content:center">Sender details</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>City</th>
            <th>Street</th>
            <th>House number</th>
            <th>Apartment number</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for senderDetails in senderDetailsList %}
            <tr>
                <td>{{ senderDetails.id }}</td>
                <td>{{ senderDetails.name }}</td>
                <td>{{ senderDetails.surname }}</td>
                <td>{{ senderDetails.city }}</td>
                <td>{{ senderDetails.street }}</td>
                <td>{{ senderDetails.houseNumber }}</td>
                <td>{{ senderDetails.apartmentNumber }}</td>
                <td>{{ senderDetails.phoneNumber }}</td>
                <td>{{ senderDetails.email }}</td>
                <td>
                    <a href="{{ path('sender_details_show', {'id': senderDetails.id}) }}">show</a>
                    <a href="{{ path('sender_details_edit', {'id': senderDetails.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sender_details_new') }}">Create new</a>
{% endblock %}
