{% block body %}
    <h1  style="display:flex; justify-content:center">Create new sender details</h1>

    {{ include('sender_details/_form.html.twig') }}

    <a href="{{ path('sender_details_index') }}">back to list</a>
{% endblock %}
