<title>Sender Details</title>

{% block body %}
    <h1 style="display:flex; justify-content:center">Sender details</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>City</th>
            <th>Street</th>
            <th>HouseNumber</th>
            <th>ApartmentNumber</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ senderDetails.id }}</td>
            <td>{{ senderDetails.name }}</td>
            <td>{{ senderDetails.surname }}</td>
            <td>{{ senderDetails.city }}</td>
            <td>{{ senderDetails.street }}</td>
            <td>{{ senderDetails.houseNumber }}</td>
            <td>{{ senderDetails.apartmentNumber }}</td>
            <td>{{ senderDetails.phoneNumber }}</td>
            <td>{{ senderDetails.email }}</td>
            <td>
                <a href="{{ path('sender_details_index') }}">back to list</a>
                <a href="{{ path('sender_details_edit', {'id': senderDetails.id}) }}">edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    {{ include('sender_details/_delete_form.html.twig') }}
{% endblock %}
