<form method="post" action="{{ path('courier_delete', {'id': courier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="text-align: center; padding-top:10px">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ courier.id) }}">
    <button class="btn btn-primary">Delete</button>
</form>
