{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.user.name) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.user.name) }}
                {{ form_widget(form.user.name) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.user.surname) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.user.surname) }}
                {{ form_widget(form.user.surname) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right" style="padding-right: 40px">
                {{ form_label(form.user.enable) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left" style="padding-left: 40px">
                {{ form_errors(form.user.enable) }}
                {{ form_widget(form.user.enable) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.user.password) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.user.password) }}
                {{ form_widget(form.user.password) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.user.email) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.user.email) }}
                {{ form_widget(form.user.email) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.user.phoneNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.user.phoneNumber) }}
                {{ form_widget(form.user.phoneNumber) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right" style="padding-left:10px;">
                {{ form_label(form.district) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left" style="padding-right:45px;">
                {{ form_errors(form.district) }}
                {{ form_widget(form.district) }}
            </div>
        </div>
    </div>
</div>
<div class="text-center" style="margin-top: 20px">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
