{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .bg-secondary{
            border-radius: 10px;
            width:450px;
            height:520px;
        }
    </style>
<div class="d-flex justify-content-center">
    <div class="bg-secondary">
        <h1 class="display-4 d-flex justify-content-center" style="padding-top: 30px">Edit Courier</h1>
            <div class="d-flex justify-content-center" style ="padding-top: 30px">
                {{ include('courier/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        <div class="d-flex flex-column">
            <a href="{{ path('courier_index') }}"style="text-align: center; padding-top: 10px">back to list</a>
            {{ include('courier/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
