{% extends 'base.newUserOrder.html.twig' %}

{% block body %}
    <style>
        .bg-secondary{
            border-radius: 10px;
            width:500px;
            height:500px;
        }
    </style>
<div class="d-flex justify-content-center">
    <div class="bg-secondary">
        <h1 class="display-4 d-flex justify-content-center" style="padding-top: 30px">Create new Courier</h1>
            <div class="d-flex justify-content-center" style ="padding-top: 30px">
                {{ include('courier/_form.html.twig') }}
            </div>
            <div class="d-flex flex-column">
                <a href="{{ path('user_index') }}" style="text-align: center">back to list</a>
                <a href="{{ path('app_logout')}}"  style="text-align: center">logout</a>
            </div>
    </div>
</div>
{% endblock %}
