{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="display-4">Courier</h1>
    </div>
    <table class="table table-striped table-hover table-sm table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Enable</th>
                <th>E-mail</th>
                <th>PhoneNumber</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ courier.id }}</td>
                <td>{{ courier.user.name }}</td>
                <td>{{ courier.user.surname }}</td>
                <td>{{ courier.user.role }}</td>
                <td>{{ courier.user.enable ? 'Yes' : 'No' }}</td>
                <td>{{ courier.user.email }}</td>
                <td>{{ courier.user.phoneNumber }}</td>
                <td>
                    <div class="d-flex justify-content-between">
                    <a href="{{ path('courier_index') }}">back to list</a>
                    <a href="{{ path('courier_edit', {'id': courier.id}) }}">edit</a>
                    {{ include('courier/_delete_form.html.twig') }}
                    </div>
            </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
