{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="display-4">Courier order list</h1>
    </div>
    <table class="table table-striped table-hover table-sm table-responsive-sm" style="margin-top:30px">
        <thead class="thead-dark" >
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Description</th>
            <th>Comments</th>
            <th>Headquarters</th>
            <th>Package</th>
            <th>SenderDetails</th>
            <th>RecipientDetails</th>
            <th>Status</th>
            <th>Courier</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for courierOrder in courierOrderList %}
            <tr>
                <td>{{ courierOrder.id }}</td>
                <td>{{ courierOrder.number }}</td>
                <td>{{ courierOrder.description }}</td>
                <td>{{ courierOrder.comments }}</td>
                <td>{{ courierOrder.headquarters.name }}</td>
                <td>Package <br>
                    weight: {{ courierOrder.package.weight }}
                    width: {{ courierOrder.package.width }}
                    height: {{ courierOrder.package.height }}
                    length: {{ courierOrder.package.length }}

                </td>
                <td>{{ courierOrder.senderDetails.name }}</td>
                <td>{{ courierOrder.recipientDetails.name }}</td>
                <td>{{ courierOrder.status }}</td>
                {% if courierOrder.courier != null %}
                    <td>{{ courierOrder.courier.user.name }}</td>
                {% else %}
                    <td>Not assigned courier</td>
                {% endif %}


                <td>
                    <a href="{{ path('courier_order_show',
                        {
                            'courierId': courierId,
                            'userOrderId': courierOrder.id
                        }) }}">show</a>
{#                    <a href="{{ path('user_order_edit', {'id': courierOrder.id}) }}">edit</a>#}
                    {% if is_granted('ROLE_COURIER') %}
                        <a href="{{ path('user_order_status', {'id': courierOrder.id}) }}">manage status</a>
                    {% endif %}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    <div class="new">#}
{#        <a style="display:flex; justify-content: center;" href="{{ path('user_order_new') }}">Create new</a>#}
{#    </div>#}

{% endblock %}
