{% extends 'base.html.twig' %}

{% block body %}
    <title>Courier Order</title>

    <h1 style="display:flex; justify-content:center">Courier Order</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Description</th>
            <th>Comments</th>
            <th>Headquarters</th>
            <th>PackageId</th>
            <th>SenderDetails</th>
            <th>RecipientDetails</th>
            <th>Status</th>
            <th>Courier</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ courierOrder.id }}</td>
            <td>{{ courierOrder.number }}</td>
            <td>{{ courierOrder.description }}</td>
            <td>{{ courierOrder.comments }}</td>
            <td>{{ courierOrder.headquarters.name }}</td>
            <td>Package <br>
                weight: {{ courierOrder.package.weight }}
                width: {{ courierOrder.package.width }}
                height: {{ courierOrder.package.height }}
                length: {{ courierOrder.package.length }}

            </td>
            <td>{{ courierOrder.senderDetails.name }}</td>
            <td>{{ courierOrder.recipientDetails.name }}</td>
            <td>{{ courierOrder.status }}</td>
            {% if courierOrder.courier != null %}
                <td>{{ courierOrder.courier.user.name }}</td>
            {% else %}
                <td>Not assigned courier</td>
            {% endif %}
            <td>
                <a href="{{ path('courier_order_index', {'courierId': courierId}) }}">back to list</a>
{#                <a href="{{ path('user_order_edit', {'id': courierOrder.id}) }}">edit</a>#}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COURIER') %}
                    <a href="{{ path('user_order_status', {'id': courierOrder.id}) }}">manage status</a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{#    {{ include('user_order/_delete_form.html.twig') }}#}
{% endblock %}
