body {
    /*background-image: url(images/background.jpg);*/
    height: 100%;
    width: 100%;
}
.bg {
    background-image: url(../images/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: wheat;
    text-align:center;
    margin-top: 200px;
    border-radius: 10px;
    /*border: 5px solid red;*/
}
h1{
    display:flex;
    justify-content:center;
    color: #222222;
}

.container2{
    display:flex;
    justify-content:center;
}
