{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .bg-secondary{
            border-radius: 10px;
            width:550px;
            height:1250px;
        }
    </style>
<div class="d-flex justify-content-center">
    <div class="bg-secondary">
        <h1 class="display-4 d-flex justify-content-center" style="padding-top: 30px">Edit User Order</h1>
            <div class="d-flex justify-content-center" style ="padding-top: 30px">
                 {{ include('user_order/_form.html.twig', {'button_label': 'Update'}) }}
             </div>
        <div class="d-flex flex-column">
            <a href="{{ path('user_index') }}" style="text-align: center">back to list</a>
            {{ include('user_order/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
