{% extends 'base.newUserOrder.html.twig' %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="bg-secondary">
        <h1 class="display-4 d-flex justify-content-center" style="padding-top: 30px">Create user order</h1>
            <div class="d-flex justify-content-center" style ="padding-top: 30px">
                {{ include('user_order/_form.html.twig') }}
            </div>
        <div class="d-flex flex-column">
            <a href="{{ path('user_index') }}" style="text-align: center">back to list</a>
            <a href="{{ path('app_logout')}}"  style="text-align: center">logout</a>
        </div>
    </div>
</div>
{% endblock %}
