{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">
        <h1 class="display-4">User order show</h1>
    </div>

    <table class="table table-striped table-hover table-sm table-responsive-sm">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Description</th>
            <th>Comments</th>
            <th>Headquarters</th>
            <th>Package</th>
            <th>SenderDetails</th>
            <th>RecipientDetails</th>
            <th>Status</th>
            <th>Courier</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ userOrder.id }}</td>
            <td>{{ userOrder.number }}</td>
            <td>{{ userOrder.description }}</td>
            <td>{{ userOrder.comments }}</td>
            <td>{{ userOrder.headquarters.name }}</td>
            <td>Package <br>
                weight: {{ userOrder.package.weight }}
                width: {{ userOrder.package.width }}
                height: {{ userOrder.package.height }}
                length: {{ userOrder.package.length }}

            </td>
            <td>{{ userOrder.senderDetails.name }}</td>
            <td>{{ userOrder.recipientDetails.name }}</td>
            <td>{{ userOrder.status }}</td>
            {% if userOrder.courier != null %}
                <td>{{ userOrder.courier.user.name }}</td>
            {% else %}
                <td>Not assigned courier</td>
            {% endif %}
            <td>
                <a href="{{ path('user_order_index') }}">back to list</a>
                <a href="{{ path('user_order_edit', {'id': userOrder.id}) }}">edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    {{ include('user_order/_delete_form.html.twig') }}
{% endblock %}
