<form method="post" action="{{ path('headquarters_delete', {'id': headquarters.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ headquarters.id) }}">
    <button class="btn btn-primary">Delete</button>
</form>
