{% extends 'base.html.twig' %}

{% block body %}


    <h1 style="display:flex; justify-content: center;">Headquarters</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Street</th>
                <th>HouseNumber</th>
                <th>ApartmentNumber</th>
                <th>Voivodeship</th>
                <th>ZipCode</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for headquarters in headquartersList %}
            <tr>
                <td>{{ headquarters.id }}</td>
                <td>{{ headquarters.name }}</td>
                <td>{{ headquarters.city }}</td>
                <td>{{ headquarters.street }}</td>
                <td>{{ headquarters.houseNumber }}</td>
                <td>{{ headquarters.apartmentNumber }}</td>
                <td>{{ headquarters.voivodeship }}</td>
                <td>{{ headquarters.zipCode }}</td>
                <td>{{ headquarters.phoneNumber }}</td>
                <td>{{ headquarters.email }}</td>
                <td>
                    <a href="{{ path('headquarters_show', {'id': headquarters.id}) }}">show</a>
                    <a href="{{ path('headquarters_edit', {'id': headquarters.id}) }}">edit</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a style="display:flex; justify-content: center;"; href="{{ path('headquarters_new') }}">Create new</a>
{% endblock %}
