<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">

    <style>
        .bg-secondary{
            border-radius: 10px;
            width:450px;
            height:600px;
            background-color: #a6a6a6 !important;
        }
        li {
            list-style-type: none;
        }
    </style>
    <tile>
        {%  block title %}
            {#Welcome!#}
        {%  endblock%}
    </tile>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {#{{ encore_entry_link_tags('css/app') }}#}

        <link rel="stylesheet" href="/build/app.css">
    {% endblock %}
</head>
<body>
    <div class="container">
            {%  block body %}{%  endblock %}
    </div>
    {% block javascripts %}
        {#{{ encore_entry_script_tags('js/app') }}#}

        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% endblock %}
</body>
</html>