<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">

    <style>
        .bg-secondary{
            border-radius: 10px;
            width:450px;
            height:490px;
            background-color: #a6a6a6 !important;
        }
        th, td{
            text-align: center;
        }
    </style>
    <tile>
        {%  block title %}
            {#Welcome!#}
        {%  endblock%}
    </tile>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {#{{ encore_entry_link_tags('css/app') }}#}

             <link rel="stylesheet" href="/build/app.css">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:0 30px 0 30px">
    <a class="navbar-brand" href="#">
        <div class="logo">
            <img src="{{ asset('build/images/logo.png') }}" alt=""/>
        </div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('user_index') }}">User list</a>
                    {%  if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('user_new') }}">Create new</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User Order
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('user_order_index') }}">User order list</a>
                    <a class="dropdown-item" href="{{ path('user_order_new') }}">User order new</a>
                </div>
            </li>
            {% if is_granted('ROLE_ADMIN') and is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courier
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('courier_index') }}">Courier list</a>
                        <a class="dropdown-item" href="{{ path('courier_new') }}">Create new</a>
                    </div>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courier Order
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('courier_order_index') }}">Courier order list for all</a>
                </div>
                {% endif %}
                {% if is_granted('ROLE_COURIER') and not is_granted('ROLE_ADMIN')%}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('courier_order_index_by_courier', {'courierId': twig_service.getCourier.id}) }}">Courier order list for current courier</a>
                </div>
                {% endif %}
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link disabled" href="#"><i>Name & Surname :</i> {{ twig_service.getUser.name }} {{ twig_service.getUser.surname }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><i>E-mail :</i> {{ twig_service.getUser.email }}</a>
            </li>
            <li class="nav-item">
               <a class="nav-link disabled" href="#"><i>Role :</i> {{ twig_service.getUser.role }}</a>
            </li>
        </ul>
        <a href="{{ path('app_logout')}}">logout</a>
    </div>
</nav>

<div class="container">
{#    <div class="bg"></div>#}
    {#<h2>Navigation bar</h2>#}
{#    <div class="d-block mx-auto">#}
        {%  block body %}{%  endblock %}
{#    </div>#}
</div>
{% block javascripts %}
    {#{{ encore_entry_script_tags('js/app') }}#}

    <script src="/build/runtime.js"></script>
    <script src="/build/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>