{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{#{% extends 'base.html.twig' %}#}

{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#</head>#}
{#<body>#}
{#<h1>Wystąpił błąd</h1>#}
{#</body>#}


{#{% block body %}#}
{#<h1>Page not found</h1>#}

{#<p>#}
{#    The requested page couldn't be located. Checkout for any URL#}
{#    misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.#}
{#</p>#}
{#{% endblock %}#}