<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="text-align: center; padding-top:10px">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    {% if is_granted("ROLE_ADMIN") %}
      <button class="btn btn-primary" style="text-align: center">Delete</button>
    {% endif %}
</form>
