 {{ form_start(form) }}
{#        {{ form_widget(form) }}#}
 <div class="d-flex flex-column">
     <div class="row">
         <div class="col">
             <div class="float-right">
                 {{ form_label(form.name) }}
             </div>
         </div>
         <div class="col">
             <div class="float-left">
                 {{ form_errors(form.name) }}
                 {{ form_widget(form.name,{'attr':{'placeholder':'Enter Name'}}) }}

             </div>
         </div>
     </div>
 </div>
 <div class="d-flex flex-column">
     <div class="row">
         <div class="col">
             <div class="float-right">
                 {{ form_label(form.surname) }}
             </div>
         </div>
         <div class="col">
             <div class="float-left">
                {{ form_errors(form.surname) }}
                 {{ form_widget(form.surname,{'attr':{'placeholder':'Enter surname'}}) }}
             </div>
         </div>
     </div>
 </div>
 <div class="d-flex flex-column">
     <div class="row">
         <div class="col">
             <div class="float-right">
                 {{ form_label(form.confirmPassword.first) }}
             </div>
         </div>
         <div class="col">
             <div class="float-left">
                 {{ form_row(form.confirmPassword.first, {'label': false,'attr':{'placeholder':'Password'}}) }}
             </div>
         </div>
     </div>
 </div>
 <div class="d-flex flex-column">
     <div class="row">
         <div class="col">
             <div class="float-right">
                 {{ form_label(form.confirmPassword.second) }}
             </div>
         </div>
         <div class="col">
             <div class="float-left">
                 {{ form_row(form.confirmPassword.second, {'label': false,'attr':{'placeholder':'Confirm Password'}}) }}
             </div>
         </div>
     </div>
 </div>
 <div class="d-flex flex-column">
     <div class="row">
         <div class="col">
             <div class="float-right">
                 {{ form_label(form.phoneNumber) }}
             </div>
         </div>
         <div class="col">
             <div class="float-left">
                 {{ form_errors(form.phoneNumber)}}
                 {{ form_widget(form.phoneNumber,{'attr':{'placeholder':'Enter Phone Number'}}) }}
             </div>
         </div>
     </div>
 </div>
 <div class="d-flex flex-column">
     <div class="row">
         <div class="col">
             <div class="float-right">
                 {{ form_label(form.email) }}
             </div>
         </div>
         <div class="col">
             <div class="float-left">
                 {{ form_errors(form.email) }}
                 {{ form_widget(form.email,{'attr':{'placeholder':'Enter E-mail'}}) }}
             </div>
         </div>
     </div>
 </div>
 <div class="text-center" style="margin-top: 20px">
     <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
 </div>
 {{ form_end(form) }}

